//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";

.required-field {
  .el-form-item__label {
    &::after {
      content: "*";
      color: red;
      margin-left: 3px;
    }
  }
}
.el-input {
  width: 100%;
}
#custom-check-box .el-checkbox-button {
  background-color: #fff;
}
#custom-check-box .el-checkbox-button__inner {
  border: none;
  background-color: transparent;
  color: #000;
  box-shadow: 0px 0px 0px 0px transparent;
}
#custom-check-box .el-checkbox-button.is-checked.card {
  border: 1px solid #8fba8d;
}

html[dir="rtl"] {
    @import "./style.bundle.rtl";
  .app-header {
    right: unset !important;
    left: 0 !important;
    width: calc(100% - var(--#{$prefix}app-sidebar-width));
  }

  .app-wrapper {
    margin-left: 0 !important;
  }
  .el-form--label-top .el-form-item .el-form-item__label {
    text-align: unset;
  }
  .el-input__wrapper {
    flex-direction: row-reverse;
  }
  .el-form-item__content {
    justify-content: end;
  }
  .el-button--primary {
    margin-left: 6px;
    background-color: rgba(61, 133, 61, 0.58);
    border-color: rgba(61, 133, 61, 0.58);
  }
  .el-form-item__error {
    left: unset;
    right: 0;
  }
  .search-cont {
    flex-direction: row-reverse;
  }
  .el-checkbox {
    margin-right: 6px;
    height: unset;
  }
  .el-drawer.rtl {
    right: unset;
  }
  .el-drawer {
    left: 0;
  }
  .el-input__inner {
    text-align: right;
  }
  .form-control {
    text-align: right;
  }
  .menu-title {
    font-size: 1.3rem;
  }
  @media (min-width: 992px) {
    .app-sidebar-menu .menu > .menu-item > .menu-link > .menu-title {
      font-size: 1.3rem;
    }
  }
}

.table {
  th {
    color: #071437 !important;
    font-size: 0.95rem !important;
    font-weight: 600 !important;
  }
  td div {
    color: #5d6370 !important;
    font-size: 0.95rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
  }
}
